.logo{
   /* font-family: 'Emilys Candy', cursive; */
font-family: 'Rufina', serif;
  
}

.site-desc{
   margin-bottom:0px;
    max-width: 24rem;
 
  
}

.dotted-border{
    border-right:2px dashed lightgrey !important;
}