.main-card{
  

    
}
.circle{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}
.circle:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    text-decoration: none;
    
}
.card-red{
    background: rgb(241,108,122);
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(241,108,122,1) 100%);
   
 }
 .card-blue{
    background: rgb(138,198,221);
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(138,198,221,1) 100%);
   
 }
 .card-yellow{
    background: rgb(215,224,87);
background: linear-gradient(0deg, rgba(255,255,255,1), rgba(215,224,87,1) 100%);
 
 }